In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
import matplotlib.pyplot as plt

In [15]:
s = pd.Series([1,3,5,np.nan,6,8])

In [16]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [18]:
dates = pd.date_range('20150915', periods=6)

In [19]:
dates

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [20]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [21]:
df

                   A         B         C         D
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886
2015-09-17 -0.902139  0.874081 -0.220575  0.939551
2015-09-18  0.770500  0.348738 -0.079851  0.116758
2015-09-19  0.829642  1.917813 -2.425041 -0.727187
2015-09-20 -0.516711  0.295546 -0.698951 -1.245157

In [26]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20150515'),
                    'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "traing", "test", "train"]),
                    'F' : 'foo'})

In [27]:
df2

   A          B  C  D       E    F
0  1 2015-05-15  1  3    test  foo
1  1 2015-05-15  1  3  traing  foo
2  1 2015-05-15  1  3    test  foo
3  1 2015-05-15  1  3   train  foo

In [28]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [32]:
df.head()

                   A         B         C         D
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886
2015-09-17 -0.902139  0.874081 -0.220575  0.939551
2015-09-18  0.770500  0.348738 -0.079851  0.116758
2015-09-19  0.829642  1.917813 -2.425041 -0.727187

In [33]:
df.tail(3)

                   A         B         C         D
2015-09-18  0.770500  0.348738 -0.079851  0.116758
2015-09-19  0.829642  1.917813 -2.425041 -0.727187
2015-09-20 -0.516711  0.295546 -0.698951 -1.245157

In [34]:
df.index

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [35]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [36]:
df.values

array([[ 1.50524412,  0.92339664,  1.50572592,  0.16759836],
       [-1.29702953, -0.20461989,  0.73551944, -1.04088566],
       [-0.90213907,  0.87408062, -0.2205752 ,  0.93955107],
       [ 0.77050033,  0.34873833, -0.07985051,  0.11675824],
       [ 0.82964241,  1.91781261, -2.42504147, -0.72718671],
       [-0.51671089,  0.29554618, -0.69895112, -1.24515676]])

In [37]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.064918  0.692492 -0.197195 -0.298220
std    1.121212  0.730513  1.341586  0.843033
min   -1.297030 -0.204620 -2.425041 -1.245157
25%   -0.805782  0.308844 -0.579357 -0.962461
50%    0.126895  0.611409 -0.150213 -0.305214
75%    0.814857  0.911068  0.531677  0.154888
max    1.505244  1.917813  1.505726  0.939551

In [38]:
df.T

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A    1.505244   -1.297030   -0.902139    0.770500    0.829642   -0.516711
B    0.923397   -0.204620    0.874081    0.348738    1.917813    0.295546
C    1.505726    0.735519   -0.220575   -0.079851   -2.425041   -0.698951
D    0.167598   -1.040886    0.939551    0.116758   -0.727187   -1.245157

In [39]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2015-09-15  0.167598  1.505726  0.923397  1.505244
2015-09-16 -1.040886  0.735519 -0.204620 -1.297030
2015-09-17  0.939551 -0.220575  0.874081 -0.902139
2015-09-18  0.116758 -0.079851  0.348738  0.770500
2015-09-19 -0.727187 -2.425041  1.917813  0.829642
2015-09-20 -1.245157 -0.698951  0.295546 -0.516711

In [40]:
df.sort(columns='B')

                   A         B         C         D
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886
2015-09-20 -0.516711  0.295546 -0.698951 -1.245157
2015-09-18  0.770500  0.348738 -0.079851  0.116758
2015-09-17 -0.902139  0.874081 -0.220575  0.939551
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-19  0.829642  1.917813 -2.425041 -0.727187

In [41]:
df['A']

2015-09-15    1.505244
2015-09-16   -1.297030
2015-09-17   -0.902139
2015-09-18    0.770500
2015-09-19    0.829642
2015-09-20   -0.516711
Freq: D, Name: A, dtype: float64

In [42]:
df[0:3]

                   A         B         C         D
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886
2015-09-17 -0.902139  0.874081 -0.220575  0.939551

In [44]:
df['20150915':'20150916']

                   A         B         C         D
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886

In [45]:
df.loc[dates[0]]

A    1.505244
B    0.923397
C    1.505726
D    0.167598
Name: 2015-09-15 00:00:00, dtype: float64

In [46]:
df.loc[:,['A','B']]

                   A         B
2015-09-15  1.505244  0.923397
2015-09-16 -1.297030 -0.204620
2015-09-17 -0.902139  0.874081
2015-09-18  0.770500  0.348738
2015-09-19  0.829642  1.917813
2015-09-20 -0.516711  0.295546

In [47]:
df.loc['20150915':'20150917',['A','B']]

                   A         B
2015-09-15  1.505244  0.923397
2015-09-16 -1.297030 -0.204620
2015-09-17 -0.902139  0.874081

In [50]:
df.loc['20150915',['A','B']]

A    1.505244
B    0.923397
Name: 2015-09-15 00:00:00, dtype: float64

In [51]:
df.loc[dates[0],'A']

1.505244121355632

In [52]:
df.at[dates[0],'A']

1.505244121355632

In [53]:
df.iloc[3]

A    0.770500
B    0.348738
C   -0.079851
D    0.116758
Name: 2015-09-18 00:00:00, dtype: float64

In [54]:
df.iloc[3:5,0:2]

                   A         B
2015-09-18  0.770500  0.348738
2015-09-19  0.829642  1.917813

In [55]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2015-09-16 -1.297030  0.735519
2015-09-17 -0.902139 -0.220575
2015-09-19  0.829642 -2.425041

In [56]:
df.iloc[1:3,:]

                   A         B         C         D
2015-09-16 -1.297030 -0.204620  0.735519 -1.040886
2015-09-17 -0.902139  0.874081 -0.220575  0.939551

In [57]:
df.iloc[:,1:3]

                   B         C
2015-09-15  0.923397  1.505726
2015-09-16 -0.204620  0.735519
2015-09-17  0.874081 -0.220575
2015-09-18  0.348738 -0.079851
2015-09-19  1.917813 -2.425041
2015-09-20  0.295546 -0.698951

In [58]:
df.iloc[1,1]

-0.20461989423352026

In [60]:
df.iat[1,1]

-0.20461989423352026

In [61]:
df[df.A>0]

                   A         B         C         D
2015-09-15  1.505244  0.923397  1.505726  0.167598
2015-09-18  0.770500  0.348738 -0.079851  0.116758
2015-09-19  0.829642  1.917813 -2.425041 -0.727187